.footer {
    background-color: #007AFF;
    padding-top: 1em;
    color: white;
    line-height: 2em;
    height: 320px;
    width: 100%;
  
}

.footer-details {
    width: 89%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto;
    
}
 .btn1 {
    border-radius: 5px;
   
}
.btn1:hover {opacity: 1}

.copyright {
    text-align: center;
}

@media (max-width: 858px) {
    .footer-details {
        grid-template-columns: auto;
    }
    .footer-details div {
        margin-top: 1em;
    }
}